
body{
    overflow-x: hidden;
}
.bg-info-header{
    background-color: #FFF9F4;
}
.text-orange{
    color: orange;
}
.fs-h1{
    font-size: 75px;
    line-height: 80px;
    font-weight: 500;
}
.navbar-brand img{
    width: 200px;
    height: 40px;
}
.navbar-nav li{
    padding: 0px 10px;
}
.navbar-nav li a{
    color: black !important;
    font-weight: 600;
}

.card img{
    background-color: #F1F1F1 !important;
}
.product-price{
    color: #FA804C;
    font-weight: 900;
    font-size: 34px;
}
.feature-title{
    font-size: 24px;
    font-weight: 700;
}
.img-fluids{
    width: 90%;
}
.feature-card{
    width: 100px;
}